<launch>
  <!-- Arguments -->
  <arg name="known_map" default="false"/>  
  <arg name="open_rviz" default="false"/>

  <!-- gmapping -->
  <group unless="$(arg known_map)"> 
    <include file="$(find sherlock_slam)/launch/sherlock_slam.launch"/>
  </group>

  <group if="$(arg known_map)"> 
    <!-- AMCL -->
    <include file="$(find sherlock_navigation)/launch/sherlock_localisation.launch" />
  </group>
  
  <!-- move_base -->
  <include file="$(find sherlock_navigation)/launch/sherlock_navigation.launch">
    <arg name="open_rviz" value="$(arg open_rviz)" />
  </include>

</launch>