<launch>
  <!-- Arguments -->
  <arg name="known_map" default="false"/>
  <arg name="map_file" default="$(find sherlock_slam)/maps/robot_arena_2.yaml"/>
  <arg name="publish_frequency" default="50.0"/>

  <!-- turtlebot3_robot -->
  <include file="$(find sherlock_bringup)/launch/sherlock_bringup.launch"/>

  <!-- robot_state_publisher -->
  <include file="$(find sherlock_bringup)/launch/sherlock_state_publisher.launch">
    <param name="publish_frequency" value="$(arg publish_frequency)" />
  </include>

  <!-- raspicam_node -->
  <include file="$(find raspicam_node)/launch/camerav2_1280x960_10fps.launch"/>

  <!-- sherlock_controller -->
  <node pkg="sherlock" type="sherlock_controller.py" name="sherlock_controller" output="screen">
    <rosparam file="$(find sherlock)/config/desired_path.yaml" command="load" />
  </node>

  <!-- sherlock_obj_recognition_results -->
  <node pkg="sherlock" type="sherlock_obj_recognition_results.py" name="sherlock_obj_recognition" output="screen"/>
  
  <group if="$(arg known_map)"> 
    <!-- map_server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
  </group>

</launch>
