<launch>
  <!-- Arguments -->
  <arg name="known_map" default="false"/>
  <arg name="map_file" default="$(find sherlock_slam)/maps/serki_room.yaml"/>
  <arg name="open_obj_recognition_gui" default="false"/>

  <!-- turtlebot3_robot -->
  <include file="$(find sherlock_bringup)/launch/sherlock_bringup.launch"/>

  <!-- robot_state_publisher -->
  <include file="$(find sherlock_bringup)/launch/sherlock_state_publisher.launch"/>

  <!-- raspicam_node -->
  <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch"/>

  <!-- sherlock_controller -->
  <node pkg="sherlock" type="sherlock_controller.py" name="sherlock_controller" output="screen">
    <rosparam file="$(find sherlock)/config/desired_path.yaml" command="load" />
  </node>

  <!-- sherlock_obj_recognition_results -->
  <node pkg="sherlock" type="sherlock_obj_recognition_results.py" name="sherlock_obj_recognition" output="screen">
	  <rosparam file="$(find sherlock)/param/objects_for_recognition.yaml" command="load" />
  </node>

  <!-- gmapping -->
  <group unless="$(arg known_map)"> 
    <include file="$(find sherlock_slam)/launch/sherlock_slam.launch"/>
  </group>

  <group if="$(arg known_map)"> 
    <!-- map_server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
    <!-- AMCL -->
    <include file="$(find sherlock_navigation)/launch/sherlock_localisation.launch" />
  </group>

  <!-- find_object_2d -->
  <include file="$(find sherlock_obj_recognition)/launch/sherlock_pringles_recognition.launch">
    <arg name="gui" value="$(arg open_obj_recognition_gui)" />
  </include>

</launch>
