<launch>
  <!-- remote PC -->
  <machine name="remote_pc" address="192.168.1.9" env-loader="/opt/ros/melodic/env.sh" user="milica" default="never"/>

  <!-- raspicam_node -->
  <include file="$(find raspicam_node)/launch/camerav2_1280x960_10fps.launch"/>

  <!-- sherlock_obj_recognition_results -->
  <node pkg="sherlock" type="sherlock_obj_recognition_results.py" name="sherlock_obj_recognition" output="screen">
	  <rosparam file="$(find sherlock)/config/objects_for_recognition.yaml" command="load" />
  </node>
  
  <!-- find_object_2d -->
  <node pkg="find_object_2d" type="find_object_2d" name="find_object_2d" machine="remote_pc">
    <remap from="image" to="raspicam_node/image"/>
    <param name="gui" value="false"/>
    <param name="objects_path" value="$(find sherlock_obj_recognition)/pringles"/>
    <param name="settings_path" value="$(find sherlock_obj_recognition)/config/find_object_2d.ini"/>
    <param name="image_transport" value="compressed"/>
  </node>

</launch>