<launch>
  <!-- remote PC -->
  <machine name="remote_pc" address="192.168.1.9" env-loader="/opt/ros/melodic/env.sh" user="milica" default="never"/>

  <!-- raspicam_node -->
  <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch"/>
  
  <!-- find_object_2d -->
  <node pkg="find_object_2d" type="find_object_2d" name="find_object_2d" machine="remote_pc">
    <remap from="image" to="raspicam_node/image"/>
    <param name="gui" value="false"/>
    <param name="objects_path" value="/home/milica/catkin_ws/src/sherlock/launch/trial/object"/>
    <param name="settings_path" value="/home/milica/catkin_ws/src/sherlock/launch/trial/config/find_object_2d.ini"/>
    <param name="image_transport" value="compressed"/>
  </node>

  <!-- sherlock_obj_recognition_results -->
  <node pkg="sherlock" type="sherlock_obj_recognition_results.py" name="obj_recognition_results" output="screen"/>

  <!-- plain node -->
  <node pkg="sherlock" type="plain_node.py" name="plain_node" output="screen" required="true"/>

</launch>